<!DOCTYPE html>
<html lang="en" data-env="{{env}}">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/ideaphore.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		{{#if is.dev}}
		<script src="/js/ideaphore.js"></script>
		{{else}}
		<script src="/js/{{site.slug}}.min.js"></script>
		{{/if}}
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/72x72.png">
		<link rel="apple-touch-icon-precomposed" href="/images/favicon/57x57.png">
		<link rel="shortcut icon" href="/images/favicon/favicon.ico">
		<script type="text/javascript" src="//use.typekit.net/heq0rwr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="{{bodyClass}}" class="logged-{{#if is.loggedIn}}in{{else}}out{{/if}}">
		<section id="container">{{{body}}}</section>
		{{#if is.dev}}
		<script>document.write('<script src="http://' + (location.host || '127.0.0.1').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
		{{/if}}
	</body>
</html>
